                <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href=""  >
                                    <i class="fa fa-circle-o-notch fa-5x"></i>
                                    <h4>Relatórios</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-envelope-o fa-5x"></i>
                                    <h4>Email</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                   <i class="fa fa-lightbulb-o fa-5x"></i>
                                    <h4>Novo Produto</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                              <div class="div-square">
                                  <a href="" >
                                    <i class="fa fa-users fa-5x"></i>
                                    <h4>Todos Usuários</h4>
                                  </a>
                              </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-key fa-5x"></i>
                                    <h4>Administrador</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                               <a href="" >
                                   <i class="fa fa-comments-o fa-5x"></i>
                                   <h4>Suporte</h4>
                               </a>
                            </div>
                        </div>
                    </div>


                     <!-- /. ROW  -->



                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                              <div class="div-square">
                                   <a href="" >
                                        <i class="fa fa-clipboard fa-5x"></i>
                                        <h4>Documentos</h4>
                                    </a>
                              </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-gear fa-5x"></i>
                                    <h4>Configurações</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-wechat fa-5x"></i>
                                    <h4>Chat</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-bell-o fa-5x"></i>
                                    <h4>Notificações </h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="{% url 'portal:wifi' %}" >
                                    <i class="fa fa-wifi fa-5x"></i>
                                    <h4>Wifi de NY</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-user fa-5x"></i>
                                    <h4>Novo usuário</h4>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- /. ROW  -->


                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fab fa-amazon fa-5x"></i>
                                    <h4>Amazon Icone</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-question fa-5x"></i>
                                    <h4>Questões</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="" >
                                    <i class="fa fa-ubuntu fa-5x"></i>
                                    <h4>Ubuntu</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-key fa-5x"></i>
                                    <h4>Admin </h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="#" >
                                    <i class="fa fa-comments-o fa-5x"></i>
                                    <h4>Suporte</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-safari fa-5x"></i>
                                    <h4>Safari</h4>
                                </a>
                            </div>
                        </div>
                    </div>

                             <!-- /. ROW  -->

                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-ticket-alt fa-5x"></i>
                                    <h4>Ticket</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-app-store fa-5x"></i>
                                    <h4>App Store</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-angle-down fa-5x"></i>
                                    <h4>Baixo</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-database fa-5x"></i>
                                    <h4>Banco Dados</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="{% url 'portal:usa' %}" >
                                    <i class="fa fa-map fa-5x"></i>
                                    <h4>Plot Mapa</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-uber fa-5x"></i>
                                    <h4>Uber</h4>
                                </a>
                            </div>
                        </div>
                    </div>

                      <!-- /. ROW  -->

                    <div class="row text-center pad-top">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="{% url 'portal:painel' %} " >
                                    <i class="fa fa-dashboard fa-5x"></i>
                                    <h4>Dashboards</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-git-alt fa-5x"></i>
                                    <h4>Git</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-adobe fa-5x"></i>
                                    <h4>Adobe</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-bitcoin fa-5x"></i>
                                    <h4>Bitcoin</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-server fa-5x"></i>
                                    <h4>Servidor</h4>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                            <div class="div-square">
                                <a href="blank.html" >
                                    <i class="fa fa-cloud fa-5x"></i>
                                    <h4>Nuvem</h4>
                                </a>
                            </div>
                        </div>
                    </div>