{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}Cadastro{% endblock %}
    {% load plotly_dash %}
{% block heading %}Cadastro Chip Teste{% endblock %}
{% block content %}

    <div class="row">
        <form>
            <div class="form-group">
                <label for="operadoraSelec">Operadora</label>
                    <select class="form-control" id="operadoraSelec">

                    </select>
                <small id="OperadoraHelp" class="form-text text-muted">Selecione uma operadora !.</small>
            </div>
            <div class="form-group">
                <label for="planoSelect">Plano</label>
                <select class="form-control" id="planoSelect">
                  <option>1</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>


    <script>


    </script>

{% endblock %}